*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;background-color: black;
    font-family: poppins;
}

.home{
    width: 100%;
    /* height: 100%; */
    padding: 2vw 5vw;
    background-image: url(home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.home>nav{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0;
}
.logo img{
    width: 13%;
    filter: invert(1);
}
nav a{
    font-size: 1.3vw;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin: 0 1vw;
    position: relative;
}
nav .logo a img:hover{
    filter: contrast(5%) drop-shadow(0 0 1px #764203) ;
}
nav .links a::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: -4px;
    left: 0;
    /* background-color: #FFD21D; */
    border-radius: 10px;
    transition: all 0.25s linear;
}
nav .links a:hover::after{
    left: 50%;
    background-color: #FFD21D;
}


.offer{
    width: 50%;
    padding: 5vw 0vw;
    color: white;
}
.offer h1{
    font-size: 5.1vw;
    font-weight: 700;
    line-height: 5.5vw;
}

.offer h1 span{
    color: #FFD21D;
}

.offer p{
    font-size: 2vw;
    font-weight: 500;
    padding: 4vw 0;
    opacity: 0.8;
    line-height: 2.5vw;
}

.offer button{
    padding: 1vw 3vw;
    border-radius: 50px;
    background-color: orangered;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    transition: all 1s;
}

.offer button::after{
    content: "";
    position: absolute;
    width: 15%;
    height: 70%;
    left:  -8%;
    bottom: 0;
    background-color:rgb(255, 255, 255);
    border-radius: 50px;
    z-index: -1;
    transition: all 0.25s ease-in;
    border: 1px solid white;
}

.offer button:hover::after{
    width: 100%;
    height: 100%;
    left: -1%;
}
.offer button:hover{
    color: black;
    
}

.page2{
    width: 100%;
    min-height: 100%;
    background-color: white;
    background-image: url(buger\ logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3vw 5vw;
    color: orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2-head{
    text-align: center;
    background-color: #FFFDF5;
    width:66%;
    /* padding-top: 3vw; */

}
.page2-head h1{
    font-size: 4vw;
    padding: 2vw 0;
}
.page2-head p{
    font-size: 1.6vw;
}
.page2-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile{
    width: 100%;
    text-align: center;
    padding: 2vw 0;
    margin: 0 4vw;
}
/* .profile h2{
    font-size: 1.3vw;
} */
.profile p{
    font-size: 1.3vw;
    font-weight: 600;
}

.profile img{
    width: 200px;
}

.page3{
    width: 100%;
    min-height: 100%;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5vw 5vw;
    gap: 5vw;
}

.page3 img{
    width: 500px;
    height: 500px;
    border-radius: 500px;
    object-fit: cover;
    object-position: center;
    /* overflow: hidden; */
}
.page3-content{
    width: 50%;
}
.page3-content h1{
    color: white;
    font-size: 6vw;
}
.page3-content p{
    color: white;
    font-size: 1.4vw;
    padding: 3vw 0vw;
}
.page3-content button{
    padding: 1vw 4vw;
    border-radius: 50px;
    font-size: 1.4vw;
    font-weight: 700;
    color: orangered;
    border: none;
}

.page4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6vw 7vw;
    gap: 5vw;
    background-color: #fff0e3;
    /* overflow: hidden; */
    background-image: url(buger\ logo.png);
    background-size: cover;
    background-position: center;
}

.page4 img{
    width: 500px;
    height: 500px;
    /* border-radius: 500px; */
    object-fit: cover;
    object-position: center;
}
.page4-content{
    width: 50%;
}
.page4-content h1{
    color: rgb(255, 60, 0);
    font-size: 6vw;
}
.page4-content p{
    color: rgb(255, 89, 0);
    font-size: 1.4vw;
    padding: 3vw 0vw;
}
.page4-content button{
    padding: 1vw 4vw;
    border-radius: 50px;
    font-size: 1.4vw;
    font-weight: 700;
    background-color: orangered;
    border: none;
    color: white;
}

.page5{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 7vw;
    gap: 5vw;
    background-color: orangered;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.page5-head {
    text-align: center;
    padding: 1vw 0;
}
.page5-head h1{
    font-size: 4vw;
}
.page5-head p{
    padding: 1vw 15vw;
    font-size: 1.3vw;
}

.page5-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.page5-content-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 6px solid white;
    border-radius: 50%;
}

.page5-content-data h1{
    font-size: 2.5vw;
}

.page5-content-data h4{
    font-size: 1.5vw;
}

.page6{
    width: 100%;
    min-height: 100vh;
    background-image: url(buger\ logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 7vw;
}
.page6-head{
    text-align: center;
    font-size: 2.5vw;
    color: orangered;
    padding-bottom: 7vw;
}
.page6-card {
    width: 100%;
    /* background: red; */
    color: orangered;
    padding-bottom: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page6-card1 {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 2vw 1vw;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(40, 40, 40, 0.312);
}

.page6-card1 h1{
    font-size: 2vw;
}

.page6-card1 p{
    font-size: 1.2vw;
    font-weight: 500;
}

.page6-card1 button{
    padding: 1vw 3vw;
    border-radius: 50px;
    border: none;
    font-size: 1.2vw;
    font-weight: 600;
    background-color: rgb(255, 68, 0);
    color: white;
}


.page7{
    width: 100%;
    min-height: 100vh;
    background-image: url(p7-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 7vw;
    position: relative;
}
.page7-over{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 68, 0, 0.81);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.page7-over p{
    padding: 0 20vw;
    font-size: 2.2vw;
}

.page7-over h3{
    font-size: 2.5vw;
}